@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #090311;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #82798C;
  border-radius: 5px;
}

@font-face {
  font-family: "kingvoon";
  src: url('./fonts/Kingvoon.ttf');
}